/* Titles */
  
h1, h2, h3, h4, h5, h6 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: #d4b657;
    text-align: center;
    text-transform: uppercase;
  }
  
  #rates-h3 {
    text-align: center;
    margin: 30px 0 15px;
  }
  
  h1 {
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .content h1, h1.gallery-heading, .gallery-item h3, h3.blog-heading, .content h2.gallery-heading {
    text-align: center;
    color: #FFF;
    margin: 0 0 15px;
    padding-bottom: 11px;
    border-bottom: 1px solid #a99b7c;
    font-size: 22px;
  }
  
  h1 {
    margin-top: 0px;
  
    &.home-title {
      //padding-top: 4vw;
      text-align: center;
     // margin-bottom: 0;
      @media (min-width: 992px) {
        text-align: left;
      }
    }
  
    &.gallery-heading {
      margin-left: 15px;
      width: 100%;
  
      span {
        display: none;
        @media (min-width: 992px) {
          display: inline;
        }
      }
    }
  }
  
  @media (min-width: 768px) {
    h1.home-title {
      margin-bottom: 15px;
      text-align: left;
      margin-top: 15px;
      padding: 0;
    }
  }
  
  h2.gallery-heading {
    margin-left: 15px;
    width: 100%;
  }
  
  #profile h1.gallery-heading, h2.gallery-heading {
    margin-left: 0;
    width: 100%;
  }
  
  .content .post-detail h1 {
    margin-top: 15px;
  }
  
  h2 {
    font-size: 28px;
  }
  
  .content h2 {
    color: #FFF;
   // font-size: 19px;
    text-align: left;
    margin: 15px 0 11px;
  }
  
  h2.featured-heading {
    color: #FFF;
    font-size: 20px;
    max-width: 250px;
    margin: 10px auto;
    position: relative;
    z-index: 1;
  }
  
  .gray-container h2 {
    border-bottom: 1px solid #898989;
    margin: 0;
    padding-bottom: 11px;
    background: -webkit-linear-gradient(#FFF, #d4b657);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 300;
  }
  
  #ymal h2 {
    text-align: center;
  }
  
  .gallery-item h3 {
    text-align: center;
    border: none;
    margin: 15px 0 9px;
  }
  
  h3.blog-heading {
    font-size: 18px;
    margin-top: 15px;
    border-color: #FFF;
  }
  
  /* Paragraph & Typographic */
  
  p {
    letter-spacing: 1px;
    line-height: 22px;
    margin-bottom: 25px;
    font-size: 14px;
    color: #474747;
    font-weight: normal;
    text-align: justify;
  }
  
  label {
    color: #000;
    letter-spacing: 1px;
    font-weight: normal;
  }
  
  .centered {
    text-align: center;
  }

  //custom
  * {
    font-family: $font;
  }

  h1 {
    font-weight: 300;
    font-size: 38px;
  }
  
  h2 {
    font-weight: 300;
    font-size: 32px;
  }
  
  h3 {
    font-weight: 300;
    font-size: 24px;
  }
  
  h4, h5 {
    font-weight: 300;
    font-size: 18px;
  }
  
  p {
    font-weight: 300;
  }

  
  
  h1, h1 span {
    color: #fff;
    font-family: $font-heading;
    font-weight: $regular;
    letter-spacing: 0;
    text-transform: none;
  }
  
  h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6, span {
    text-align: left;
    color: $color;
    font-family: $font-heading;
    font-weight: $medium;
  }