.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  
    &:before {
      display: table;
      content: " ";
    }
  
    &:after {
      display: table;
      content: " ";
      clear: both;
    }
  
    &:before {
      display: table;
      content: " ";
    }
  
    &:after {
      display: table;
      content: " ";
      clear: both;
    }
  
    > li {
      position: relative;
      display: block;
  
      > a {
        position: relative;
        display: block;
        padding: 10px 15px;
  
        &:hover, &:focus {
          text-decoration: none;
          background-color: #eeeeee;
        }
      }
  
      &.disabled > a {
        color: #999999;
  
        &:hover, &:focus {
          color: #999999;
          text-decoration: none;
          cursor: not-allowed;
          background-color: transparent;
        }
      }
    }
  
    .open > a {
      background-color: #eeeeee;
      border-color: #428bca;
  
      &:hover, &:focus {
        background-color: #eeeeee;
        border-color: #428bca;
      }
    }
  
    .nav-divider {
      height: 1px;
      margin: 9px 0;
      overflow: hidden;
      background-color: #e5e5e5;
    }
  
    > li > a > img {
      max-width: none;
    }
  }
  
  .nav-tabs {
    border-bottom: 1px solid #dddddd;
  
    > li {
      float: left;
      margin-bottom: -1px;
  
      > a {
        margin-right: 2px;
        line-height: 1.428571429;
        border: 1px solid transparent;
        border-radius: 4px 4px 0 0;
  
        &:hover {
          border-color: #eeeeee #eeeeee #dddddd;
        }
      }
  
      &.active > a {
        color: #555555;
        cursor: default;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        border-bottom-color: transparent;
  
        &:hover, &:focus {
          color: #555555;
          cursor: default;
          background-color: #ffffff;
          border: 1px solid #dddddd;
          border-bottom-color: transparent;
        }
      }
    }
  
    &.nav-justified {
      width: 100%;
      border-bottom: 0;
  
      > {
        li {
          float: none;
  
          > a {
            margin-bottom: 5px;
            text-align: center;
          }
        }
  
        .dropdown .dropdown-menu {
          top: auto;
          left: auto;
        }
  
        li > a {
          margin-right: 0;
          border-radius: 4px;
        }
  
        .active > a {
          border: 1px solid #dddddd;
  
          &:hover, &:focus {
            border: 1px solid #dddddd;
          }
        }
      }
    }
  }
  
  @media (min-width: 768px) {
    .nav-tabs.nav-justified > li {
      display: table-cell;
      width: 1%;
  
      > a {
        margin-bottom: 0;
      }
    }
  }
  
  @media (min-width: 768px) {
    .nav-tabs.nav-justified > {
      li > a {
        border-bottom: 1px solid #dddddd;
        border-radius: 4px 4px 0 0;
      }
  
      .active > a {
        border-bottom-color: #ffffff;
  
        &:hover, &:focus {
          border-bottom-color: #ffffff;
        }
      }
    }
  }
  
  .nav-pills > li {
    float: left;
  
    > a {
      border-radius: 4px;
    }
  
    + li {
      margin-left: 2px;
    }
  
    &.active > a {
      color: #ffffff;
      background-color: #428bca;
  
      &:hover, &:focus {
        color: #ffffff;
        background-color: #428bca;
      }
    }
  }
  
  .nav-stacked > li {
    float: none;
  
    + li {
      margin-top: 2px;
      margin-left: 0;
    }
  }
  
  .nav-justified {
    width: 100%;
  
    > {
      li {
        float: none;
  
        > a {
          margin-bottom: 5px;
          text-align: center;
        }
      }
  
      .dropdown .dropdown-menu {
        top: auto;
        left: auto;
      }
    }
  }
  
  @media (min-width: 768px) {
    .nav-justified > li {
      display: table-cell;
      width: 1%;
  
      > a {
        margin-bottom: 0;
      }
    }
  }
  
  .nav-tabs-justified {
    border-bottom: 0;
  
    > {
      li > a {
        margin-right: 0;
        border-radius: 4px;
      }
  
      .active > a {
        border: 1px solid #dddddd;
  
        &:hover, &:focus {
          border: 1px solid #dddddd;
        }
      }
    }
  }
  
  @media (min-width: 768px) {
    .nav-tabs-justified > {
      li > a {
        border-bottom: 1px solid #dddddd;
        border-radius: 4px 4px 0 0;
      }
  
      .active > a {
        border-bottom-color: #ffffff;
  
        &:hover, &:focus {
          border-bottom-color: #ffffff;
        }
      }
    }
  }
  
  .tab-content > {
    .tab-pane {
      display: none;
    }
  
    .active {
      display: block;
    }
  }
  
  .nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  
  .navbar {
    position: relative;
    margin-bottom: 20px;
    border: 1px solid transparent;
  
    &:before {
      display: table;
      content: " ";
    }
  
    &:after {
      display: table;
      content: " ";
      clear: both;
    }
  
    &:before {
      display: table;
      content: " ";
    }
  
    &:after {
      display: table;
      content: " ";
      clear: both;
    }
  }
  
  @media (min-width: 768px) {
    .navbar {
      border-radius: 4px;
    }
  }
  
  .navbar-header {
    &:before {
      display: table;
      content: " ";
    }
  
    &:after {
      display: table;
      content: " ";
      clear: both;
    }
  
    &:before {
      display: table;
      content: " ";
    }
  
    &:after {
      display: table;
      content: " ";
      clear: both;
    }
  }
  
  @media (min-width: 768px) {
    .navbar-header {
      float: left;
    }
  }
  
  .navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-overflow-scrolling: touch;
  
    &:before {
      display: table;
      content: " ";
    }
  
    &:after {
      display: table;
      content: " ";
      clear: both;
    }
  
    &:before {
      display: table;
      content: " ";
    }
  
    &:after {
      display: table;
      content: " ";
      clear: both;
    }
  
    &.in {
      overflow-y: auto;
    }
  }
  
  @media (min-width: 768px) {
    .navbar-collapse {
      width: auto;
      border-top: 0;
      box-shadow: none;
  
      &.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        width: 100%;
        overflow: visible !important;
      }
  
      &.in {
        overflow-y: visible;
      }
    }
  
    .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
      padding-right: 0;
      padding-left: 0;
    }
  }
  
  .container > {
    .navbar-header, .navbar-collapse {
      margin-right: -15px;
      margin-left: -15px;
    }
  }
  
  @media (min-width: 768px) {
    .container > {
      .navbar-header, .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
  
  .navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px;
  }
  
  @media (min-width: 768px) {
    .navbar-static-top {
      border-radius: 0;
    }
  }
  
  .navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  
  @media (min-width: 768px) {
    .navbar-fixed-top, .navbar-fixed-bottom {
      border-radius: 0;
    }
  }
  
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  
  .navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
  }
  
  .navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
  
    &:hover, &:focus {
      text-decoration: none;
    }
  }
  
  @media (min-width: 768px) {
    .navbar > .container .navbar-brand {
      margin-left: -15px;
    }
  }
  
  .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 4px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    position: fixed;
    top: 0px;
    right: 0px;
    &::before {
      content: 'MENU';
      font-size: 11px;
      color: #fff;
      font-weight: 700;
      letter-spacing: 0.28px;
      display: block;
      text-align: center;
      margin-left: -6px;
    }
  
    .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      background-color: #FFF;
  
      + .icon-bar {
        margin-top: 4px;
      }
    }
  }
  
  @media (min-width: 768px) {
    .navbar-toggle {
      display: none;
    }
  }
  
  .navbar-nav {
    margin: 7.5px -15px;
  
    > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 20px;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      box-shadow: none;
  
      > li > a, .dropdown-header {
        padding: 5px 15px 5px 25px;
      }
  
      > li > a {
        line-height: 20px;
  
        &:hover, &:focus {
          background-image: none;
        }
      }
    }
  }
  
  @media (min-width: 768px) {
    .navbar-nav {
      float: left;
      margin: 0;
  
      > li {
        float: left;
        text-align: center;
<<<<<<< HEAD
        padding: 0 38px;
=======
        padding: 0;
>>>>>>> 2c1dcf7cfa41c37a5a7c8e97c56e190de1701551
  
        > a {
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
  
      &.navbar-right:last-child {
        margin-right: -15px;
      }
    }
  }
  
  @media (min-width: 768px) {
    .navbar-left {
      position: relative;
      //width: 926px;
      margin: 0 auto;
<<<<<<< HEAD
      display: block;
=======
      //display: block;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
>>>>>>> 2c1dcf7cfa41c37a5a7c8e97c56e190de1701551
      float: none;
    }
  
    .navbar-right {
      float: right !important;
    }
  }
  
  .navbar-form {
    padding: 10px 15px;
    margin-top: 8px;
    margin-right: -15px;
    margin-bottom: 8px;
    margin-left: -15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  
  @media (min-width: 768px) {
    .navbar-form {
      .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
      }
  
      .form-control {
        display: inline-block;
      }
  
      select.form-control {
        width: auto;
      }
  
      .radio, .checkbox {
        display: inline-block;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
      }
  
      .radio input[type=radio], .checkbox input[type=checkbox] {
        float: none;
        margin-left: 0;
      }
    }
  }
  
  @media (max-width: 767px) {
    .navbar-form .form-group {
      margin-bottom: 5px;
    }
  }
  
  @media (min-width: 768px) {
    .navbar-form {
      width: auto;
      padding-top: 0;
      padding-bottom: 0;
      margin-right: 0;
      margin-left: 0;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
  
      &.navbar-right:last-child {
        margin-right: -15px;
      }
    }
  }
  
  .navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  
  .navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .navbar-nav {
    &.pull-right > li > .dropdown-menu, > li > .dropdown-menu.pull-right {
      right: 0;
      left: auto;
    }
  }
  
  .navbar-btn {
    margin-top: 8px;
    margin-bottom: 8px;
  
    &.btn-sm {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
    &.btn-xs {
      margin-top: 14px;
      margin-bottom: 14px;
    }
  }
  
  .navbar-text {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  @media (min-width: 768px) {
    .navbar-text {
      float: left;
      margin-right: 15px;
      margin-left: 15px;
  
      &.navbar-right:last-child {
        margin-right: 0;
      }
    }
  }
  
  .navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
  
    .navbar-brand {
      color: #777777;
  
      &:hover, &:focus {
        color: #5e5e5e;
        background-color: transparent;
      }
    }
  
    .navbar-text {
      color: #777777;
    }
  
    .navbar-nav > {
      li > a {
        color: #777777;
  
        &:hover, &:focus {
          color: #333333;
          background-color: transparent;
        }
      }
  
      .active > a {
        color: #555555;
        background-color: #e7e7e7;
  
        &:hover, &:focus {
          color: #555555;
          background-color: #e7e7e7;
        }
      }
  
      .disabled > a {
        color: #cccccc;
        background-color: transparent;
  
        &:hover, &:focus {
          color: #cccccc;
          background-color: transparent;
        }
      }
    }
  
    .navbar-toggle {
      border-color: #dddddd;
  
      &:hover, &:focus {
        background-color: #dddddd;
      }
  
      .icon-bar {
        background-color: #cccccc;
      }
    }
  
    .navbar-collapse, .navbar-form {
      border-color: #e7e7e7;
    }
  
    .navbar-nav > .open > a {
      color: #555555;
      background-color: #e7e7e7;
  
      &:hover, &:focus {
        color: #555555;
        background-color: #e7e7e7;
      }
    }
  
    .navbar-link {
      color: #777777;
  
      &:hover {
        color: #333333;
      }
    }
  }
  
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > {
      li > a {
        color: #777777;
  
        &:hover, &:focus {
          color: #333333;
          background-color: transparent;
        }
      }
  
      .active > a {
        color: #555555;
        background-color: #e7e7e7;
  
        &:hover, &:focus {
          color: #555555;
          background-color: #e7e7e7;
        }
      }
  
      .disabled > a {
        color: #cccccc;
        background-color: transparent;
  
        &:hover, &:focus {
          color: #cccccc;
          background-color: transparent;
        }
      }
    }
  }
  
  .navbar-inverse {
    background-color: #222222;
    border-color: #080808;
  
    .navbar-brand {
      color: #999999;
  
      &:hover, &:focus {
        color: #ffffff;
        background-color: transparent;
      }
    }
  
    .navbar-text {
      color: #999999;
    }
  
    .navbar-nav > {
      li > a {
        color: #999999;
  
        &:hover, &:focus {
          color: #ffffff;
          background-color: transparent;
        }
      }
  
      .active > a {
        color: #ffffff;
        background-color: #080808;
  
        &:hover, &:focus {
          color: #ffffff;
          background-color: #080808;
        }
      }
  
      .disabled > a {
        color: #444444;
        background-color: transparent;
  
        &:hover, &:focus {
          color: #444444;
          background-color: transparent;
        }
      }
    }
  
    .navbar-toggle {
      border-color: #333333;
  
      &:hover, &:focus {
        background-color: #333333;
      }
  
      .icon-bar {
        background-color: #ffffff;
      }
    }
  
    .navbar-collapse, .navbar-form {
      border-color: #101010;
    }
  
    .navbar-nav > .open > a {
      color: #ffffff;
      background-color: #080808;
  
      &:hover, &:focus {
        color: #ffffff;
        background-color: #080808;
      }
    }
  
    .navbar-link {
      color: #999999;
  
      &:hover {
        color: #ffffff;
      }
    }
  }
  
  .navbar {
    &-close {
      display: block;
      width: 67px;
      height: 67px;
      position: absolute;
      top: 0;
      right: 0;
      background-color: #D4B657;
      background-image: url(../img/cross.svg);
      background-size: 35px;
      background-repeat: no-repeat;
      background-position: center center;
      
      @media (min-width: 768px) {
        display: none;
      }
    }
    &-collapse {
      position: fixed;
      width: 344px;
      height: 100% !important;
      background-color: #000000;
      z-index: 12;
      top: 0;
      right: 0;
      padding: 95px 52px;
      @media (min-width: 768px) {
        position: static;
        top: 0;
        right: 0;
        height: auto !important;
        padding: 0 15px;
      }
    }
  }
  
  @media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu {
      > .dropdown-header {
        border-color: #080808;
      }
  
      .divider {
        background-color: #080808;
      }
  
      > {
        li > a {
          color: #999999;
  
          &:hover, &:focus {
            color: #ffffff;
            background-color: transparent;
          }
        }
  
        .active > a {
          color: #ffffff;
          background-color: #080808;
  
          &:hover, &:focus {
            color: #ffffff;
            background-color: #080808;
          }
        }
  
        .disabled > a {
          color: #444444;
          background-color: transparent;
  
          &:hover, &:focus {
            color: #444444;
            background-color: transparent;
          }
        }
      }
    }
  }


  // custome

  